a:link,
a:visited {
    background-color: gray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    border: 2px solid gray;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    border-radius: 12px;
}

a:hover {
    background-color: white;
    color: black;
}

a:focus {
    background-color: black;
    color: white;
    border: black;
    padding: 16px 27px;
}