<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 style="text-align: left">FORM</h2>
<p> Name:
   <input [(ngModel)]="intialstudent.name" >
</p>
<p> Email:
    <input [(ngModel)]="intialstudent.email" >
</p>
<div>Feedback:
<label class="container">Great
  <input type="radio" name="radio" (click)=high()>
  <span class="checkmark" ></span>
</label>
<label class="container">Okay
  <input type="radio" name="radio" (click)=average()>
  <span class="checkmark" ></span>
</label>
<label class="container">Not Good
  <input type="radio" name="radio" (click)=low()>
  <span class="checkmark"></span>
</label>
</div>
<p> Comments:
    <input [(ngModel)]="intialstudent.comment" >
</p>
<button class="button" (click)="Submit()">Submit</button>
<h3 style="color:red">Message:{{errorMessage}}</h3>
<p>Form Response=["{{intialstudent.name}}","{{intialstudent.email}}","{{intialstudent.feedback}}","{{intialstudent.comment}}"]</p>
